@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;600&display=swap");
@import 'node_modules/@tabler/icons/iconfont/tabler-icons.scss';

* {
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;

}
.data{
    background: url(https://www.pixelstalk.net/wp-content/uploads/images6/HD-Wallpaper-Black-Aesthetic.jpg);
    height:100vh;
    margin-left: 228px;
    background-size: cover;
    background-repeat: no-repeat;
   
}


body {
    font-family: 'Inter', sans-serif;
    overflow: hidden;
} 


nav{
    background: linear-gradient(225deg,rgb(21, 33, 39),rgb(85, 139, 255));
    line-height: 70px;
    position: fixed;
    width: 100%;
}

label{
    margin-left: 50px;
    cursor: pointer;
}

label img{
    width: 170px;
    padding-top: 20px;
    margin-left: -18px;
}

nav ul {
    float: right;
    margin-right: 20px;

}

nav ul li {
    line-height: 70px;
    margin: 0 10px;
}


nav ul li a {
    color: white;
    font-size: 20px;
    padding: 6px 15px;
    font-weight: 600;
    background-color:rgb(155, 181, 255);
    border-radius: 10px;
    transition: 0.2s;
}

nav ul li a:hover{
    background-color: rgba(183, 0, 255, 0.671);
    color: white;

    

}

.kiri {
    position: fixed;
    background:  rgb(51, 77, 85);
    width: 230px;
    height: 100%;
    margin-top: 98px;

}


.kiri center img {
    height: 120px;
    width: 120px;
    border-radius:50%;
    margin-top:30px;
    border:4px solid rgb(255, 255, 255);
    background: rgb(102, 163, 160);

}


.kiri center h2{
    color: white;
}

.kiri a{
    display: block;
    line-height: 40px;
    color: white;
    transition: 0.2s;
}

.kiri a:hover{
    background: rgb(87, 122, 218);
    padding-left: 20px;
}

.kiri span{
    font-size: 20px;
    margin-left: 10px;
    color: white;
}

.kiri i{
    font-size: 20px;
    margin-left: 20px;
    color: white;
}

nav .menu-bar{
    float: right;
    margin-top: 0;
    display: none;
    margin-right: 20px;
}

#menu {
    display: none;
}

.kiri .logout {
    display: none;
}

@media  (max-width:850px){


    .kiri a span{

        display: none;

    }

    .kiri center{
        display: none;
    }

    .kiri {
        width: 100px;
    }

    .kiri a i {
        display: block;
        line-height: 70px;
        text-align: center;
        margin-left: 0;
        font-size: 35px;
    }

    .data {
        margin-left: 100px;
    }
}

@media (max-width:650px) {

    .data {
        display: none;
    }

    nav ul{
        display: none;
    }

    nav{
        background:rgb(242, 96, 255); 
    }


    .kiri{
        width: 100%;
        text-align: center;
        background: rgb(155, 181, 255);
        transition: all 0.2s;
       left: 100%;
    }
    
    .kiri a:hover{
        background: rgb(87, 122, 218);
        padding-left: 0;
    }

    .kiri a i {
        display: none;
    }

    .kiri a span{
        display: block;
    }

    .kiri .logout{
        display: block;
    }
    nav .menu-bar{
        display: block;
    }
    .logout {
        margin-top: 500px;
    }
}

#menu:checked ~ .kiri {
left: 0%;

}

.isi {
    width:80%;
    padding-top: 180px;
    margin-left: 150px;
    color: white;
}


.dataform {
    background:linear-gradient(225deg,rgb(39, 44, 192),rgb(36, 58, 112));
    width: 600px;
    border-radius: 10px;
    height:100%;
    overflow: hidden;
}
.dataform h1{
    text-align:center;
    margin:0px 0;
    font-size:20px;
  }

.box{
    background: #e8e8e88c;
    padding-top: 20px;
    padding-bottom: 20px;

  }
  
  .box input{
    display:block;
    width:460px;
    margin:7px 17px 0px;
    padding:10px;
    background:rgba(155, 182, 255, 0.699);
    color:#fff;
    border:0;
    border-radius: 5px;
  }
  
  .box input:focus,
  .box input:active{
    outline:none;
  }
  
  .box p{
    font-size: 16px;
    color:black;
    width: 460px;
    height: 120px;
    margin-top: 10px;
    margin-left: 17px;
    background: rgba(155, 182, 255, 0.699);
    cursor: default;
    border-radius: 5px;
  }
  

  
  .box2 {
      width: 110px;
      margin-left: 30px;
      margin-top: -115px; 
      cursor: pointer;
  }
  

  button[type=submit] {
    padding:6px 15px; 
    background:rgb(155, 181, 255); 
    border:0 none;
    cursor:pointer;
    -webkit-border-radius: 5px;
    border-radius: 5px; 
    transition: 0.2s;
    margin: -200px 490px;
    font-size: 17px;
}
  
button[type=submit]:hover{
    background-color: rgb(183, 0, 255);
    color: white;



}
  .form-group{
    width:100%;
    display:block;
    position:relative;
    margin-bottom:10px;
  }
  .file-control{
    display:none;
  }
  .label-file{
    width:35%;
    height:40px;
    display:inline-block;
    position:relative;
    background-color:#fff;
    padding:5px 50px 5px 15px;
    border-radius:4px;
    border:2px solid  rgba(179, 50, 230, 0.253);
    background-color: rgb(155, 181, 255);
    vertical-align: middle;
    overflow:hidden;
    line-height:30px;
    margin-left: 600px;
    margin-top: -60px;
  }
  .label-file:after{
    content: "Pilih";
    position: absolute;
    background-color:rgba(179, 50, 230, 0.253);
    right:0;
    top:0;
    height: 29px;
    display: inline-block;
    padding: 8px 40px 0;
    color:#fff;
    line-height:20px;
  }

  textarea {
    width: 460px;
  height: 70px;
  margin: 0px 17px ;
  border: 0px;
  border-radius: 5px;
  background:rgba(155, 182, 255, 0.699);
  font-size: 16px;
  resize: none; 
  outline:none;
  }

.bag2 {
   margin: -390px 502px 0px;
}

  select {
    width: 460px;
    height: 50px;
    margin: 0px 17px ;
    border: 0px;
    border-radius: 5px;
    background:rgba(155, 182, 255, 0.699);
    font-size: 16px;
    resize: none; 
    outline:none;

  }

  .box label{
    color: black;

    border: 0px solid black;
    border-radius: 0px;
    cursor: default;
    margin: 0px 17px 0px;
 
  }